<div id="authForm">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">

        <div class="signup">
            <form action="/auth" method="post">
                <label for="chk" aria-hidden="true">Регистрация</label>
                <input type="text" name="login" placeholder="Логин" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="password" name="pswd" placeholder="Пароль" required="">
                <button type="submit">Зарегестрироваться</button>
            </form>
        </div>

        <div class="login">
            <form action="/auth" method="post">
                <label for="chk" aria-hidden="true">Авторизация</label>
                <input type="text" name="login" placeholder="Логин" required="">
                <input type="password" name="pswd" placeholder="Пароль" required="">
                <button type="submit">Войти</button>
            </form>
        </div>
    </div>
</div>