<div class="expenses-container" onload="expensesLoad()">
    <h3 class="text-xl mb-4 text-center">Список всех расходов</h3>
    <table class="expenses-table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Количество</th>
                <th>Сумма (₽)</th>
            </tr>
        </thead>
        <tbody id="expensesList">
            <!-- data added dynamic -->
        </tbody>
    </table>
</div>