<h2 class="text-2xl font-semibold mb-4">Обзор расходов</h2>
<div class="top-spendings-container">
    <h3 class="text-xl mb-2 text-center">Топ 3 расходов за год:</h3>
    <div class="grid grid-cols-3 gap-6" id="top3spendings">
        <div class="p-4 bg-neutral-200 rounded-md">
            <h3 class="text-xl">Запчасти</h3>
            <p class="text-lg">0,00 ₽</p>
        </div>

        <div class="p-4 bg-neutral-200 rounded-md">
            <h3 class="text-xl">Топливо</h3>
            <p class="text-lg">0,00 ₽</p>
        </div>

        <div class="p-4 bg-neutral-200 rounded-md">
            <h3 class="text-xl">Услуги</h3>
            <p class="text-lg">0,00 ₽</p>
        </div>
    </div>
</div>

<div class="mt-8">
    <h3 class="text-xl mb-4">Тренды расходов</h3>
    <canvas id="expensesChart" width="600" height="200" class="rounded-md"></canvas>
</div>